.demo-table {
    width: 100%;
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-demo-weight {
    font-style: italic;
}

.mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reload-button {
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(138, 55, 233);
    color: white;
    cursor: pointer;
    margin-top: 100px;
}

.reload-button:hover {
    background-color: rgb(150, 83, 228);
}