<p>
    <mat-toolbar>
        <span>Admin Record</span>
        <span class="example-spacer"></span>
        <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>Developer
        </button>
        <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>Call History
        </button>
        <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>Device Status
        </button>
    </mat-toolbar>
</p>