<div class="container">
    <h2 class="sub-title">Developers</h2>
    <button class="add-button">+ New</button>
</div>

<div class="container">
    @for (item of userList; track item.name){
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-subtitle>Developer</mat-card-subtitle>
            <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img src="/assets/dev.jpeg" width="100%" />
            <p>Password : {{item.password}}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="openDialog(item.name)">EDIT</button>
            <button mat-button color="warn">DELETE</button>
        </mat-card-actions>
    </mat-card>
    }
</div>
<!-- <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    @if (animal) {
      <li>You chose: <em>{{animal}}</em></li>
    }
  </ol> -->