<div class="container">
    @for (item of stateList; track item.name){
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-subtitle>Real-Time Monitor</mat-card-subtitle>
            <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img src="/assets/com.jpeg" width="100%" />
            <p>Service State : {{item.status_s}}</p>
            <p>Phone *State : {{item.status_d}}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
            @switch (item.status_d) {
            @case ("Not Responding") {
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>

            }@default {
            <mat-progress-bar mode="buffer"></mat-progress-bar>
            }}

        </mat-card-footer>
    </mat-card>
    }
</div>